<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711323878051-a59ulpge8ejvo9p4lqoo0l8lk6764rj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711323878051-a59ulpge8ejvo9p4lqoo0l8lk6764rj3</string>
	<key>API_KEY</key>
	<string>AIzaSyBEwPD3wla6UjTVEIaJ9av09MYgFQP89nA</string>
	<key>GCM_SENDER_ID</key>
	<string>711323878051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edgedelivery</string>
	<key>PROJECT_ID</key>
	<string>edge-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>edge-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711323878051:ios:6573d09b2c5fd33d86f516</string>
</dict>
</plist>